{{outlet}}
<p><h4> Posts list </h4></p>

<ul>
{{#each model as |item|}}  
  {{!--{{#if item.id < 21 }}--}}
   <li><span class="glyphicon glyphicon-file"></span> Post # {{item.id}} - Post Title - {{item.title}} // ( <b>Author</b> - {{item.uuu.username}})</li>
  {{!--{{/if}}  --}}
{{/each}}
 
</ul> 

