{{outlet}}

<h3> Home Page - Quick Start </h3>
<br>

<hr/>
::::::: ГИТ :::::::
<ul>
  <li><a href="dddd"> ddddd </a></li>
  <li><a href="https://github.com/cbobrov/"> github.com/cbobrov </a></li>
  <li><a href="https://github.com/vvscode/js--upsjs2-em/commits/master"> github.com/vvscode </a></li>
  <li><a href="https://githowto.com/ru/setup"> githowto.com/ru/setup </a></li>
  <li><a href="http://git.huit.harvard.edu/guide/"> git.huit.harvard.edu/guide/ </a></li>
  <li><a href="https://www.prolinux.org/post/korotkii-spravochnik-po-git-komandam/"> korotkii-spravochnik-po-git-komandam/ </a></li>

</ul>

::::::: ЭМБЕР :::::::
<ul>
  <li><a href="ttp://emjs.ru/v2/"> ember RU </a></li>
  <li><a href="ttps://guides.emberjs.com/v2.10.0/getting-started/quick-start/"> ember ENG </a></li>
  <li><a href="http://emberjs.com/api/"> api </a></li>
  <li><a href="https://cloud.mail.ru/public/5b6s/SKTEhejck"> ember-video-@mail.ru </a></li>
  <li><a href="https://trank.com.ua/course/ember-js"> ember-video-ua</a></li>
  <li><a href="https://ember-cli.com/extending/"> ember-cli-info</a></li>
  
</ul>
::::::: ЖС :::::::
<ul>
  <li><a href="https://learn.javascript.ru/promise"> learn.javascript.ru </a></li>
  <li><a href="https://devionity.com/ru/courses/js-fundamentals-and-jquery"> courses/js-fundamentals-and-jquery </a></li>

</ul>
:::::::: ХТМЛ :::::::
<ul>
  <li><a href="http://htmlbook.ru/html"> htmlbook.ru </a></li>
  <li><a href="http://ab-w.net/HTML5/document.php"> ab-w.net </a></li>

</ul>
<hr/>

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                Обучающее руководство
              </a>
            </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
        Перед вами обучающее руководство по Ember.js! Благодаря этой документации полный новичок может стать экспертом по работе с Ember.


      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                Организация
              </a>
            </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
       <p> На левой стороне каждой страницы находится панель с содержанием. Она состоит из разделов, которые можно раскрыть, чтобы посмотреть соответствующие темы. И разделы и темы следуют в порядке возрастания сложности, от базовых концепций к продвинутым.</p>

<p> В руководстве собраны практические примеры и объяснения, которые касаются создания приложения на Ember. В нем описаны необходимые возможности фреймворка. Чтобы получить полную информацию по каждой особенности Ember и API, смотрите документацию по Ember.js API.</p>

<p>Руководство начинается с объяснения базовых концепций фреймворка и затем постепенно учит создавать собственные приложения. Если вы только познакомились с Ember, рекомендуем начать с первых двух разделов.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                Требуемые знания
              </a>
            </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
      <p> Мы пытаемся составлять руководство так, чтобы оно было понятно новичкам, но предъявляем некоторые требования к начальным знаниям и навыкам. В руководстве мы затрагиваем только функциональность и особенности Ember.js и не хотим отвлекаться на сторонние вещи. Но мы стараемся оставлять ссылки на соответствующую документацию для любого понятия, которое здесь представлено.</p>

<p>Чтобы разобраться в руководстве, вам следует иметь знания и опыт работы в следующих областях:</p>
<ul>
<li>HTML, CSS, JavaScript — создание блоков веб-страниц. Вы можете найти документацию по каждой из этих технологий в Mozilla Developer Network.</li>
<li>Promises (Обещания) — исходный способ работы с асинхронностью в коде JavaScript. Смотрите соответствующий раздел в Mozilla Developer Network.</li>
<li>Модули ES2015 — вам будет проще понять структуру проекта Ember CLI и импорт путей, если вы знаете и имели дело с модулями ES6 JavaScript.</li>
<li>Синтаксис ES2015 — по умолчанию, Ember CLI сопровождается Babel.js, поэтому вы можете использовать новые особенности языка, например, стрелочные функции, строки шаблона, деструктурирование и т. д. Чтобы узнать больше, можно посмотреть документацию по Babel.js или почитать в онлайн-режиме книгу Understanding ECMAScript 6.</li>
</ul>
      </div>
    </div>
  </div>
</div>
 
<iframe src="https://guides.emberjs.com/v2.8.0/getting-started/quick-start/" width="100%" height="1000" align="left">
  
 </iframe>